body {
	background-color: aliceblue;
	margin: 0;
	padding: 0;
}


a {
	margin: 100px;
	padding: 100px;
	border: 1px red solid;
}


.albums {
	display: flex;
	flex-wrap: wrap;
}

.card {
	padding: 10px;
	margin: 10px;
	border: 1px red solid;
}

